@charset "utf-8";

body{
  font-size: 12px;
  font-family: "宋体";
  color: #333;
}

/* =S 去除盒子的浮动*/
.clearfix { *zoom: 1; }  
.clearfix:before, .clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
} 
.clearfix:after {   clear: both; } 
/* =E 去除盒子的浮动*/
      

/*超级链接样式*/
a:link, a:visited {
  color: #333;
  text-decoration: none;
}
a:hover{
	color: #a10000;
}
