.vancHead {
	/*overflow: hidden;*/
	min-width: 1200px;
}

.vancHead .headAd{
	background-color: #b81b22;
	height: 50px;
	text-align: center;
	margin: 0;padding: 0;border: none;
	-border: 0;
}

/*=S 顶部地图区域*/
.vancHead .headTopBarBox{
	height: 31px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	background-color: #f7f7f7;
}

.vancHead .headTopBarBox .headTopBar{
	width: 1200px;
	margin: 0 auto;	
	line-height: 32px;
	position: relative;
}

.vancHead .headTopBar a,span{
	padding-right: 1em;
}


.vancHead .headTopBar .headTopBarLeftBox{
	float: left;
	vertical-align:center;

}
.vancHead .headTopBar .headTopBarRightBox{
	float: right;
	width: 520px;
	height: 31px;
}


.vancHead .headTopBarRightBox .mapActive{
	float: left;
	line-height: 31px;
	height: 31px;
	position: relative;
	padding: 0 10px 0 5px;
	width: 60px;
	margin: 0;
	z-index: 1;
	background: url("../img/vanclsprite.png") no-repeat  53px 10px;

}

.vancHead .headTopBarRightBox .mapActive:hover .mapDropDown{
	visibility: visible;	
}

.vancHead .headTopBarRightBox .mapDropDown{
	visibility: hidden;
	position: absolute;
	width: 60px;
	top: 21px;
	left: 0px;
	z-index: 1000;
	display: block;	
	overflow: visible;
}

.mapPhone,.mapCustomer{
	float: left;
	width: 70px;
	height: 31px;
	line-height: 31px;
	padding: 0;
}
/*=E 顶部地图区域*/


/*=S 顶部地图区 右边栏*/
.mapPhone a{
	line-height: 18px;
	display: block;
	margin-top: 7px;	
	width: 70px;
	height: 18px;
	padding:0px 0px 5px 0px;
}

.mapPhone .bgimg{
	background: url("../img/vanclsprite.png") no-repeat  -47px -25px;
	line-height: 18px;
	display: inline-block;	
	width: 10px;
	height: 18px;
}
.mapCustomer a{	
	line-height: 18px;
	display: block;
	margin-top: 7px;	
	width: 70px;
	height: 18px;
	padding:0px 0px 5px 0px;

}

.mapCustomer .bgimg{
	background: url("../img/vanclsprite.png") no-repeat  -24px -25px;
	line-height: 18px;
	display: inline-block;	
	width: 10px;
	height: 18px;
}
/*=E 顶部地图区 右边栏*/

/*=S logo区域*/
.vancHead .headLogoSearchArea,.headMainNavAre{
	width: 1200px;
	margin: 0 auto;
}

.vancHead .headLogoSearchArea{
	padding: 20px 0px 5px 0px;
	border: none;
}
.vancHead .headLogoSearchArea .logo{
	float: left;
	margin: 0px auto auto 20px;
	height: 50px;
	width: 166px;
	background: url("../img/vanclsprite.png") no-repeat 0px -58px;
	border: 0;
	display: line;
}

.vancHead .headLogoSearchArea .logo a{
	display: block;
	height: 50px;
	width: 166px;
}
/*=E logo区域*/

/*=S 搜索框区域*/
.headSearchBox{
	float: right;
	width: 558px;
	height: 42px;
	padding: 8px 0 0 0;
}

.headSearchBox input.searchTextBox{
	border: 1px solid #b7b7b7;
	padding: 0px 5px;
	line-height: 27px;
	height: 27px;
	width: 379px;
	float: left;
}

.searchSub{
	width: 50px;
	height: 27px;
	line-height: 27px;
	border: 0;
	background: url("../img/vanclsprite.png") no-repeat -99px 0px;
	cursor:pointer;
	float: left;
}

.headSearchBox .shopCarLink{
	width: 95px;
	height: 27px;
	line-height: 27px;
	background: url("../img/vanclsprite.png") no-repeat -155px 0px;
	padding:0 0 0 10px;	
	display: block;
	float: right;
	text-align: center;
	color:#fff;
}

.hotWord {
	display: block;
	clear: both;
}

.hotWord .word{
	float: left;
	padding: 3px 1em 0 0;
	height: 15px;
	line-height: 15px;

}

/*=E 搜索框区域*/

/*=S 主导航菜单区域*/
.headMainNav{
	height: 49px;
	width: 1200px;
	margin: 10px auto 0px auto;	
	-margin: 0 auto;
	text-align: center;
	line-height: 49px;
	font-family: "Microsoft Yahei";
}
.headMainNav a.allCat{
	display: block;
	width: 260px;
	float: left;
	height: 49px;
	background-color: #bb1b22;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
}

.headMainNav .navList .navItem{
	float: left;
	width: 117.5px;
	height: 49px;
	background-color: #efefef;
	color: #727171;
	font-size: 16px;
}
.headMainNav .navList .navItem:hover{
	background-color: #e5e6e6;	
}
/*=E 主导航菜单区域*/